<main>
    <h1>{{ title }}</h1>
    <div class="search-container">
      <label for="zipcode">Enter Zipcode to Search Events:</label>
      <input type="text" id="zipcode" [(ngModel)]="zipcode" placeholder="Enter Zipcode">
      <button (click)="searchEvents()">Search</button>
    </div>
  
    <!-- Default message before search -->
    <div *ngIf="events.length === 0 && !zipcode">
      <p>Please enter a zipcode to search for events.</p>
    </div>
  
    <!-- Show event table only if events are found -->
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  
    <div *ngIf="events.length > 0" class="event-results">
      <table>
        <thead>
          <tr>
            <th>Event Name</th>
            <th>Region</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Closing Registration</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
            <td>{{ event.EventName }}</td>
            <td>{{ event.Region }}</td>
            <td>{{ event.StartTime ? (event.StartTime | date:'short') : 'N/A' }}</td>
            <td>{{ event.EndTime ? (event.EndTime | date:'short') : 'N/A' }}</td>
            <td>{{ event.ClosingRegistration ? (event.ClosingRegistration | date:'short') : 'N/A' }}</td>
            <td><a [href]="'/event/' + event.UrlSlug">View Event</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="events.length === 0 && zipcode">
      <p>No events found for the given zipcode.</p>
    </div>
  </main>
  