.tournament-board-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .tournament-card {
    background-color: #3d3d3d; /* Grey card background */
  color: white;              /* White text */
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  }
  
  .tournament-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .tournament-details {
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
  }
  